rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to authenticated or public users for all inventory collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
